{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% set formClasses = [
  'newsletter__form',
] %}

<section class="wp-block-newsletter">
  <div class="container">
    <div class="newsletter row columns-2">
      <div class="newsletter__text">
        <h2 class="newsletter__title">{{ 'Meld deg på nyhetsbrev'|t }}</h2>
        <div class="newsletter__desc">
          <p>{{ 'Write something about what goodies will the user be
            getting on their inbox.'|t }}</p>
        </div>
      </div>
      <div{{ attributes.addClass(formClasses) }}>
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}

        {% if(form['#mailchimp_text_inputs']) %}
          <div class="newsletter__inputs">

            {% for key, input in form['#mailchimp_text_inputs'] %}
              <div class="newsletter__input">
                <input
                  type="{{ input['#type'] }}"
                  id="{{ form.mergevars[key]['#id'] }}"
                  name="{{ form.mergevars[key]['#name'] }}"
                  placeholder="{{ form.mergevars[key]['#title'] }}"
                  {{ input['#required'] ? 'required="required"' : '' }}
                >
              </div>
            {% endfor %}

            <div class="newsletter__input">
              <button type="submit"
                      class="btn btn--bigger btn--wide btn--big-font">{{ form.actions.submit['#value'] }}</button>
            </div>
          </div>
        {% endif %}


        <div class="newsletter__additional">
          <div class="newsletter__additional-question">{{ 'Velg ditt abonnement'|t }}:</div>
          <div class="newsletter__radio input-radio">

            <label class="input-radio__label">
              <input type="radio"
                     value="{{ form.mailchimp_lists[key]['subscribe']['#return_value'] }}"
                     id="{{ form.mailchimp_lists[key]['subscribe']['#id'] }}"
                     name="name">
              <span class="input-radio__icon"></span>
              <span class="input-radio__desc">Norwegian newsletter</span>
            </label>
          </div>
          <div class="newsletter__radio input-radio">
            <label class="input-radio__label">
              <input type="radio"
                     value="{{ form.mailchimp_lists[key]['subscribe']['#return_value'] }}"
                     id="{{ form.mailchimp_lists[key]['subscribe']['#id'] }}"
                     name="name">
              <span class="input-radio__icon"></span>
              <span class="input-radio__desc">English newsletter</span>
            </label>
          </div>
        </div>

        {% if(form['#mailchimp_checkbox_inputs']) %}
          <div class="newsletter__additional">
            <div class="newsletter__additional-question">{{ 'Velg ditt abonnement'|t }}:</div>
            {% for key, list in form['#mailchimp_checkbox_inputs'] %}
              <div class="newsletter__radio input-radio">
                <label class="input-radio__label">
                  <input type="{{ form.mailchimp_lists[key]['subscribe']['#type'] }}"
                         value="{{ form.mailchimp_lists[key]['subscribe']['#return_value'] }}"
                         id="input-radio"
                         name="{{ form.mailchimp_lists[key]['subscribe']['#name'] }}" {{ loop.first ? 'checked' : '' }}>
                  <span class="input-radio__desc">{{ form.mailchimp_lists[key]['subscribe']['#title'] }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

