<footer id="colophon" class="site-footer {{ footer_template }}" role="contentinfo">
    <div class="container alignwide">
        <div class="row columns-4 column-gap-medium">
            <div>
                {{ page.footer_first }}
            </div>
            <div>
                {{ page.footer_second }}
            </div>
            <div>
                {{ page.footer_third }}
            </div>
            <div>
                {{ page.footer_fourth }}
            </div>
        </div>
    </div>
</footer>